/* About */
.about {
  justify-content: space-around;
  padding: 80px 0;
}

.about__img {
  width: 400px;
}

/* Skill*/
.skill {
  padding: 80px 0;
}

/* Experience */
.experience__work {
  max-width: 1200px;
  margin: 0 auto;
}

.experience__description {
  margin: auto;
  margin-bottom: 25px;
}

.footer {
  padding: 80px 0;
}
