/* About */
.about {
  flex-direction: row;
  align-items: center;
}

/* skill */
.skill {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.skill__content-title {
  margin-top: 25px;
}

.skill__content-description {
  margin-bottom: 25px;
  text-align: center;
}

.skill__container {
  flex-direction: row;
}

.skill__card-title {
  text-align: center;
}

.skill__card-text {
  width: 100%;
  padding: 0 10px;
  text-align: center;
}

/* Experience */
.experience__title {
  margin-top: 25px;
}

.experience__description {
  margin: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}
